@model OshBusinessModel.Da.ContractsSearchResult

@{
    ViewBag.Title = "Поиск контрактов";
}

@Html.Partial("ShortSearchComponentPartial")

<div class="searchResults">
    @Html.Partial("SearchComponentResultsPartial")
</div>

