@using OshChannel.Helpers
<?xml version="1.0"?>
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.3//EN" "http://www.wapforum.org/DTD/wml13.dtd">
<wml>
    
    @if (Auth.Authenticated)
    {
        <table width="100%" columns="2">
            <tr>
                <td><h3>@Auth.User.Name</h3></td>
                <td align="right"><h3><a href="@Url.Action("Logout", "m")">Выйти</a></h3></td>
            </tr>
        </table>
    }
    
    @RenderBody()

</wml>