@model OshBusinessModel.Da.ShowContract.ShowContractModel

@if (Model.MeterValues.Length > 0)
{
    <h3 class="h2margin">История показаний</h3>

    var dates = Model.MeterValues.Select(mv => mv.DateAsOf).Distinct().OrderByDescending(t => t);

    <table class="table table-striped table-bordered">
        <tr>
            <th>Дата</th>
            @foreach(var meter in Model.Meters)
            {
                <th@Html.LineThrought(!meter.Enabled)>@meter.SerialNumber</th>
            }
            <th>Примечание</th>
        </tr>
        @foreach(var date in dates)
        {
            <tr>
                <td>@date.ToShortDateString()</td>
                @foreach(var meter in Model.Meters)
                {
                    var mv = Model.MeterValues.LastOrDefault(t => t.DateAsOf == date && t.MeterId == meter.MeterId);
                                    
                    <td>@(mv == null ? "-" : mv.Value.ToString("0.00"))</td>
                }
                <td>
                    @{
                        var mvv = Model.MeterValues.LastOrDefault(t => t.DateAsOf == date);
                        <span>@MeterReadingType.GetMeterReadingTypeById(mvv.MeterValueType).Name</span>
                    }
                </td>
            </tr>
        }
    </table>
}
